<div class="ui fluid vertical menu">
    <div class="header item">
        <i class="user icon"></i>
        Projects
    </div>
    <a ui-sref="main.project({projectName: 'project-1'})" ui-sref-active="active" class="item">
        Project1
    </a>
    <a ui-sref="main.project({projectName: 'project-2'})" ui-sref-active="active" class="item">
        Project2
    </a>
    <a ui-sref="main.project({projectName: 'project-3'})" ui-sref-active="active" class="item">
        Project3
    </a>
</div>
